@import url('./../utilities/fonts.css');

body{
    background-color: #f0f0f0;
}


nav{
    background-color: #f0f0f0;
    width: auto;
    position: fixed;
    height: 100%;
}

nav > div{
    margin: 20px 20px 50px 20px;
    align-items: center;
} 

nav > div > h1{
    font-family: 'Litera Heavy';
    color: #005dff;
    font-size: large;
    font-weight: bold;
}

nav > ul > div{
    align-items: center;
}

nav > div > img{
    border-radius: 5px;
    height:50px;
    width: 50px;
    margin-right: 15px;
    box-shadow: #5c5b5b21 1px 1px 1px 1px;
}

nav>ul{
    gap:20px;
    overflow: auto;
    margin-left: 20px;
    margin-right: 50px;
    
}

nav > ul > div > li{
    letter-spacing: 1px;
    list-style: none;
    font-family: 'YDYoonche L';
    cursor: pointer;
    text-align: center;
    margin-left: 30px;
}

main{
    margin-left: 220px;

}

main > section{
    background-color: #ffffff;
    height: 100%;
    width: 98%;
    border-radius: 10px;
    margin:10px;
    padding: 10px;
}

main > section > header{
    justify-content: space-between;
    align-items: center;
}

main > section > header > img{
    height: 50px;
    background-color: #f0f0f0;
    border-radius: 50%;
}

main > section > header > h2{
    font-family: 'YDYoonche L';
    letter-spacing: 1px;
    font-size: 15px;
    margin-left: 20px;
}

.dashboard-content{
    display: grid;
    gap: 10px;
    padding: 10px;
    grid-template-columns: 1fr 2fr; 
    grid-template-rows: auto 1fr;
    height: 100vh;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    border-radius: 10px;
    box-shadow:  #5c5b5b21 1px 1px 1px 1px;
    padding: 20px;
    font-size: 30px;
}

.item1 {
    grid-row: 1 / span 2; 
    grid-column: 1;
  }
  
  .item2 {
    grid-row: 1;         
    grid-column: 2;
  }
  
  .item3 {
    grid-row: 2;          
    grid-column: 2;
  }


