@import url('./../utilities/fonts.css');


main > section{
    display: grid;
    gap: 10px;
    padding: 10px;
    grid-template-rows: auto 1fr 2fr;
    height: 100vh;
}

section > h1{
    grid-row: 1;
    grid-column: 1;
    font-family: 'YDYoonche L';
    font-weight: lighter;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
    margin-top: 20px;
    margin-left: 10px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow:  #5c5b5b21 1px 1px 1px 1px;
    padding: 20px;
}

.item1 { 
    grid-row: 2;
    grid-column: 1;
    background-color: #f0f0f0;  
}

.item2, .income-form {
    grid-row: 3;
    grid-column: 1;
    position: relative;       
}

.hidden{
    display: none;
}

@keyframes slideIn {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.item1>p{
    font-family: 'YDYoonche L';
    margin-bottom: 30px;
}

.item1 h2{
    font-family: 'YDYoonche L';
    margin-bottom: 20px;
    font-weight: lighter;
    letter-spacing: 0.5px;
    font-size: 2.5rem;
}

.item1 button{
    background-color: white;
}

.item1 > div {
    gap: 40px;
}

.balance-container{
    justify-content: space-between;
    align-items: center;
}

.item1 > div p{
    font-family: 'YDYoonche L';
    font-weight: lighter;
    letter-spacing: 0.5px;
}

#total-income, #expenses {
    font-family: 'YDYoonche L';
    font-weight: lighter;
    letter-spacing: 0.5px;
    margin-top: 5px;
    font-size: 1.5rem;
}

.item2 > div{
    justify-content: space-between;
    background-color: #f0f0f0;
    border-radius: 30px;
    padding: 20px;
}

.item2 > div > p{
    font-family: 'YDYoonche L';
    font-weight: lighter;
    letter-spacing: 0.5px;
    font-size: 0.8rem;
    color: #6b6b6b;
}

.income-form{
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-family: 'YDYoonche L';
    font-weight: lighter;
}

.income-form input{
    margin-top: 0;
    background-color: #f0f0f0;
    border-radius: 5px;
    height: 30px;
    width: 50%;
    border: none;
    padding: 10px;
}

.income-form input:focus{
    outline: none;
    border: 3px solid #005dff;
}

.income-table-row{
    font-family: 'YDYoonche L';
    justify-content: space-between;
}

.row-element{
    max-width: 100px;
    text-overflow: clip;
}